[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pex = "*"

[packages]
cryptography = "*"
click = "*"
sqlalchemy = "*"
toml = "*"

[requires]
python_version = "3.9"
